@media (min-width: 960px) {
    .begin-bg {
        @include size(vw(731), 100%);    
    }    
    .begin-bg-news .begin-bg{
        background: url("~@/assets/images/begin-bg/news.jpg");    
        @include coverCenter;
    }    
    .begin-bg-line {
        @include size(vw(12), 100%);
        background: #FFB800;
        box-shadow: 0 vw(4) vw(4) rgba(0, 0, 0, 0.25);  
        position: relative;    
    }    
}

@media (max-width: 960px) {    


    .begin-bg-news .begin-bg{
        @include size(vwm(315), 100%);            
        background: url("~@/assets/images/news/mobile-begin.jpg");    
        @include coverCenter;
    }
    .begin-bg-news .begin-bg{
        padding: vwm(50) 0;                 
        background: url("~@/assets/images/news/mobile-begin.jpg");    
        @include coverCenter;
    }
    .begin-bg-contacts .begin-bg{
        @include size(vwm(315), 100%);            
        background: url("~@/assets/images/news/mobile-begin.jpg");    
        @include coverCenter;
    }
    .begin-bg-line {
        @include size(vwm(6), 100%);
        background: #FFB800;
        box-shadow: 0 vwm(4) vwm(4) rgba(0, 0, 0, 0.25);
        position: relative;    
    }    
}



.begin-bg-partners .begin-bg{
    background: url("~@/assets/images/begin-bg/partners.jpg");    
    @include coverCenter;
}

.begin-bg-contacts .begin-bg{
    background: url("~@/assets/images/begin-bg/partners.jpg");    
    @include coverCenter;
}

.begin-bg-about .begin-bg{
    background: url("~@/assets/images/begin-bg/partners.jpg");    
    @include coverCenter;
}