footer {
    .footer-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      margin: 0;
      padding: 0;
    }
    ul {
      display: flex;      
    }
    h2 {
      font-family: Spectral-semibold;
      text-transform: uppercase;
    }
    p {
      font-family: Spectral-light;
      text-transform: lowercase;
      line-height: normal;
      white-space: pre;
    }
    .line {
      background: #FFB800;
    }
    .footer-copyright {
      text-align: center;
      font-family: Spectral-light;
      text-transform: lowercase;
      line-height: normal;
      white-space: pre;
    }         
}
.dark-footer {
    background: #000;
    color: #fff;
    svg {
        path {
            fill: #fff;
        }
    }
}

@media (min-width:960px) {
    footer {        
      padding: vw(122) 0 vw(16);
      svg {
        height: vw(365.84);
        width: vw(417.96);
      } 
      ul {
        margin-left: vw(116);
      }
      li {
        margin-right: vw(143);
      }
      h2 {
        font-size: vw(31);                
      }  
      article {
        margin-left: vw(13.98);
      }
      p {        
        font-size: vw(20);                
      } 
      .line {
        margin: vw(32) 0 vw(24);
        height: vw(5);
        width: vw(55);        
      } 
      .footer-copyright {        
        margin-top: vw(48.16); 
        font-size: vw(15);
      }     
    }
}