
@media (min-width: 960px) {
        nav {            
            @include size(vw(60), 100%);
            position: absolute;
            top: 0; left: 0;             
            z-index: 100;                
            display: flex;
            background: linear-gradient(180deg, #262626 0%, #161616 100%);
            transform: translateY(0);     
            border-bottom: vw(2) solid #FFB800;
            ul {
                display: flex;   
                flex:1;
                align-items: center;     
            }              
            .nav-item a {
                font-size: vw(20);                        
                text-decoration: none;
                color: #fff;        
                text-transform: uppercase;
                font-family: Spectral-bold;
                line-height: normal;                  
                &:hover {                    
                    color: #FFB800;                    
                }
            }                     
            li {
                margin-right: vw(70);                                    
            }
            .logo {
                width: vw(79);        
                margin-right: vw(70);
                height: 100%;                     
                border-right: vw(0.990099) solid #999999;                
                svg {
                    height: 100%;
                    width: 100%;
                    max-width: 100%;
                    &:hover {
                        path {
                            fill: #FFB800;
                        }
                    } 
                }
            }
        }
        }
        
        @media (max-width: 960px) {   
            .nav-mobile {
                padding: vwm(6) 0;
                height: auto;
                width: 100%;
                position: fixed;
                z-index: 300;
                top: 0; left: 0;
                background: url('~@/assets/images/body.jpg'); 
                text-align: center;                                
                .burger {
                    position: absolute;
                    top: vwm(15);
                    left: vwm(10);                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    svg {
                        @include size(vwm(10), vwm(13));
                        overflow: visible;
                    }
                }                
                .nav-svg-mobile {
                    height: vwm(28);
                    width: vwm(96.43);
                    transition: 0.3s;
                    rect {
                        opacity: 0.45;
                        transition: 0.3s;
                    }                   
                    path {
                        transition: 0.3s;
                    }
                }      
                ul {    
                    line-height: normal;                                     
                    li {                        
                        margin-bottom: vhm(36);
                        a {
                            font-family: Spectral-medium;                           
                            color: #4C4C4C;
                            font-size: vhm(30);
                        }
                    }                  
                }          
        }    
            .nav-active {
                padding-bottom: vwm(200);    
                 
                z-index: 300;
                @include coverCenter;                  
                .nav-svg-mobile {
                    height: 29.06vh !important;
                    width: 100% !important;
                    rect {
                        opacity: 1 !important;                        
                    }
                    path:nth-child(n+12) {
                        fill: #EF3B39;                        
                    }
                    rect:nth-child(5) {
                        fill: #EF3B39 ;
                    }
                    rect:nth-child(6) {
                        fill: #EF3B39 ;
                    }
                }
                ul {                        
                    display: block !important;                                               
                }

            }
        }

.nav-mobile-enter-active, .nav-mobile-leave-active {
  transition: 0.3s;
}

.nav-mobile-enter, .nav-mobile-leave-to /* .fade-leave-active до версии 2.1.8 */ {    
    transform: translateY(-100%)
  }

.nav_active_yellow a {
    color: #FFB800 !important;    
}

// Класс используется на главной странице при скролле welcome блока с анимацией чтобы сделать меню фиксированным 
.nav_fixed {
    position: fixed;
}

