
      @font-face {
        font-family: NewCycle; 
        font-display: swap;
        src: url("assets/fonts/NewsCycle-Regular.ttf") format('truetype'); 
        
       }
    
    @font-face {
        font-family: Spectral-light; 
        font-display: swap;
        src: url("assets/fonts/Spectral_SC/SpectralSC-Light.ttf") format('truetype'); 
       }   
    
    @font-face {
        font-family: Spectral-regular; 
        font-display: swap;
        src: url("assets/fonts/Spectral_SC/SpectralSC-Regular.ttf") format('truetype'); 
       }
    
    @font-face {
        font-family: Spectral-semibold; 
        font-display: swap;
        src: url("assets/fonts/Spectral_SC/SpectralSC-SemiBold.ttf") format('truetype'); 
       }
    
    @font-face {
        font-family: Spectral-bold; 
        font-display: swap;
        src: url("assets/fonts/Spectral_SC/SpectralSC-Bold.ttf") format('truetype'); 
       }   
    
    @font-face {
        font-family: Spectral-medium; 
        font-display: swap;
        src: url("assets/fonts/Spectral_SC/SpectralSC-Medium.ttf") format('truetype'); 
       }   
       
          