
      @font-face {
        font-family: NewCycle; 
        src: url("assets/fonts/NewsCycle-Regular.ttf"); 
       }
    
    @font-face {
        font-family: Spectral-light; 
        src: url("assets/fonts/Spectral_SC/SpectralSC-Light.ttf"); 
       }   
    
    @font-face {
        font-family: Spectral-regular; 
        src: url("assets/fonts/Spectral_SC/SpectralSC-Regular.ttf"); 
       }
    
    @font-face {
        font-family: Spectral-semibold; 
        src: url("assets/fonts/Spectral_SC/SpectralSC-SemiBold.ttf"); 
       }
    
    @font-face {
        font-family: Spectral-bold; 
        src: url("assets/fonts/Spectral_SC/SpectralSC-Bold.ttf"); 
       }   
    
    @font-face {
        font-family: Spectral-medium; 
        src: url("assets/fonts/Spectral_SC/SpectralSC-Medium.ttf"); 
       }   
       
          