[v-cloak] {
    display: none;
}

* {
    box-sizing: border-box;
}
ul,li {
list-style-type: none;
    }

// *** Личные классы

.df {
    display: flex;

}

.dfi {
    display: flex !important;
}

// *** /Личные классы


body {    
    background: #F4F4F4;     
}

a {
    text-decoration: none;
}

.ct-index {
    background-position: center;
    background-size: contain;  
    position: relative;  
}

.webp .ct-index {
    background: url('~@/assets/images/body.webp');
}

.no-webp .ct-index {
    background: url('~@/assets/images/body.jpg');
}


img {
    max-width: 100%;
}

.ct-pages-content {
    height: auto; 
    width: 100%;
    &__wrap {        
        height: auto; 
        width: 100%;
    }              
}

@media (min-width: 960px) {
    .ct-pages-content {  
        padding: 0 vw(221);     
        box-shadow: 0 vw(4) vw(19) rgba(0, 0, 0, 0.25);
    }
}

@media (max-width: 960px) {
    .dnm {
        display: none !important;
    }
}

.ct-index__news {
    display: none;
}

.description-list__span-enter-active, .description-list__span-leave-active {
    transition: 0.4s ease-in-out; max-height: vw(200);
  }
  .description-list__span-enter, .description-list__span-leave-to /* .description-list__span-leave-active до версии 2.1.8 */ {
     max-height: 0; opacity: 0;
  }


  .new-h2 {
    font-family: Spectral-bold, sans-serif;    
  }

  .new-p {
        font-family: NewCycle, sans-serif;
  }

  .new-h2, .new-p {
      line-height: normal;
  }

  @media (min-width: 960px) {
      .new-h2 {
          font-size: vw(50);
      }
      .new-p {
        font-size: vw(25);
      }
  }

  @media (max-width: 960px) {
      .new-h2 {
          font-size: vwm(30);
      }
      .new-p {
          font-size: vwm(18 );
      }
  }