[v-cloak] {
    display: none;
}

// *** Личные классы

.df {
    display: flex;
}

.dfi {
    display: flex !important;
}

// *** /Личные классы


body {    
    background: #F4F4F4;
}

a {
    text-decoration: none;
}

.ct-index {
    background-position: center;
    background-size: contain;  
    position: relative;  
}

.webp .ct-index {
    background: url('~@/assets/images/body.webp');
}

.no-webp .ct-index {
    background: url('~@/assets/images/body.jpg');
}


img {
    max-width: 100%;
}

.ct-pages-content {
    height: auto; 
    width: 100%;
    &__wrap {        
        height: auto; 
        width: 100%;
    }              
}

@media (min-width: 960px) {
    .ct-pages-content {  
        padding: 0 vw(221);     
        box-shadow: 0 vw(4) vw(19) rgba(0, 0, 0, 0.25);
    }
}

@media (max-width: 960px) {
    .dnm {
        display: none !important;
    }
}