// *** Личные классы
.full-section {
    @include size(100vh,100%);  
        &::before {
        @include before();
        top: 0; left: 0;
        @include size(100%,100%);
        background: rgba(0, 0, 0, 0.75);
    }           
}
.full-section_pad {
    @include size(100vh,100%); 
        &::before {
        @include before();
        top: 0; left: 0;
        @include size(100%,100%);
        background: rgba(0, 0, 0, 0.75);
    }
    @media(min-width: 960px) {        
        padding-top: vw(60);    
    }
}

.flex-all-center {
    justify-content: center; align-items: center;
}

.flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.transition-button {
    text-align: center;
    position: relative;
    font-family: Beausans; 
    text-transform: lowercase; 
    color: #fff;   
    @media(min-width:960px) {
        font-size: vh(20); 
        width: vh(187);    
        padding-top: vh(5);  
        svg {
            position: absolute; left: 0;
            @include size(vh(71), 100%)
        }
        .top { top: 0 }
        .bottom { bottom: 0 }
    }
}

.transition-button_bottom {
    @media(min-width: 960px) {
        top: vh(73);
        padding-bottom: vh(11);  
    }
}

// *** /Личные классы

[v-cloak] {
    display: none;
}

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

ul,li {
list-style-type: none;
    }

h1,h2,p,a,li,button {
    line-height: normal;
}    

h1, h2, h3 {
    font-family: Geometos;          
}

h2 {
color: #fff;
}

p, li,a,button {
    font-family: Beausans;
}    

body {    
      
    color: #111111;    
}

a {
    text-decoration: none;
    cursor: pointer;
}

