

.ct-index__description {
    line-height: normal; 
    text-align: center;
    &__bg {      
      width: 100%;  
    }
    h2, h1 {
        font-family: Spectral-semibold;
    }    
    h1 {
        text-transform: uppercase;
    } 
    p {
        font-family: NewCycle;
        line-height: normal;
    }
    ul {
        width: 100%;        
        li {
            white-space: pre;
            font-family: NewCycle;
        }
    }
    .description-list  {
        position: relative;
    } 
    .eventtarget {
        position: relative;
        &::before {
            --size: 0;
            content: '';
            position: absolute;
            left: var(--x);
            top: var(--y);
            width: var(--size);
            height: var(--size);
            background: radial-gradient(circle closest-side, #4405f7, transparent);
            transform: translate(-50%, -50%);
            transition: width .2s ease, height .2s ease;
          }
          &:hover::before {
            --size: 400px;
          }
    }
}


@media (min-width: 960px) {    
    .ct-index__description {               
        h1 {   
            padding: vw(99) 0 vw(20) 0;
            font-size: vw(90);               
        }
        p {
            font-size: vw(30);
            padding: 0 vw(221);
        }
        &__bg {
            height: vw(734);
            margin: vw(50) 0 vw(60) 0;
        }
        .description-list {
            margin: vw(60) 0  vw(120);            
        }
        .sprites {                                                  
                @include size(vw(316.24), vw(1105.24));
                margin: auto;
                background: url('~@/assets/images/sprites/description.png') no-repeat;   
                background-size: contain;                     
        }
        ul {            
            @include size(vw(270), vw(1494));            
            position: absolute;
            bottom: 0; top: vw(188.76);
            left: 0; right: 0;  margin: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;     
            align-content: space-between;   
            li {                
                @include size(vw(66), 33%);
                font-size: vw(20);
                line-height: normal;                
            }
        }
    }    

    .webp .ct-index__description__bg {
        background: url('./assets/images/index-description-bg.webp') no-repeat;
        @include coverCenter();
    }
    
    .no-webp .ct-index__description__bg {
        background: url('./assets/images/index-description-bg.jpg') no-repeat;
        @include coverCenter();
    }
}

@media (max-width: 960px) {
    .ct-index__description {
        &__bg {
            height: vwm(412);            
        }        
        h1 {   
            padding: vwm(70) 0 vwm(30);
            font-size: vwm(30);            
        }
        p {
            font-size: vwm(18);
            padding: 0 vwm(28) vwm(40);
        }
        img {
            @include size(vwm(127.97), vwm(127.97))
        }
        span {
            position: relative;
            display: block;
            font-size: 14px;
            color: #5C5C5C;
            padding: vwm(10.03) 0 vwm(20);
        }
        li:last-child span {
            padding-bottom: vwm(60.73);
        }     
    }      
    
    .webp .ct-index__description__bg {
        background: url('./assets/images/index-description/description-mobile.jpg') no-repeat;
        @include coverCenter();
    }
    
    .no-webp .ct-index__description__bg {
        background: url('./assets/images/index-description/description-mobile.jpg') no-repeat;
        @include coverCenter();
    }
}

.etarget {
  position: relative;        
  overflow: hidden;       

  &::before {
        
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: url('~@/assets/images/body.webp') 50% 50% no-repeat fixed;
    background-size: cover;    
    transition: width .2s ease-in-out, height .2s ease-in-out;  
    z-index: 1;  
  }
  
  * {            
      z-index: 10;
      position: relative;
  }
}