.webp .ct-index__description__bg {
    background: url('./assets/images/index-description-bg.webp') no-repeat;
    @include coverCenter();
}

.no-webp .ct-index__description__bg {
    background: url('./assets/images/index-description-bg.jpg') no-repeat;
    @include coverCenter();
}

.ct-index__description {
    text-align: center;
    &__bg {      
      width: 100%;  
    }
    h2, h1 {
        font-family: Spectral-semibold;
    }    
    h1 {
        text-transform: uppercase;
    } 
    p {
        font-family: NewCycle;
        line-height: normal;
    }
    ul {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;     
        align-content: space-between;   
        li {
            white-space: pre;
            font-family: NewCycle;
        }
    }
    .description-list  {
        position: relative;
    }
}


@media (min-width: 960px) {
    .ct-index__description {        
        h1 {   
            padding: vw(170) 0 vw(30) 0;
            font-size: vw(90);            
        }
        p {
            font-size: vw(30);
            padding: 0 vw(221);
        }
        &__bg {
            height: vw(734);
            margin: vw(50) 0 vw(60) 0;
        }
        .description-list {
            margin: vw(60) 0  vw(120);            
        }
        .sprites {                                                  
                @include size(vw(316.24), vw(1105.24));
                margin: auto;
                background: url('~@/assets/images/sprites/description.png') no-repeat;   
                background-size: contain;                     
        }
        ul {            
            @include size(vw(270), vw(1494));            
            position: absolute;
            bottom: 0; top: vw(188.76);
            left: 0; right: 0;  margin: auto;
            li {                
                @include size(vw(66), 33%);
                font-size: vw(20);
                line-height: normal;                
            }
        }

    }    
}