.ct-index__team {
    background: #212121;
    text-align: center;
    height: auto;
    font-family: Spectral-semibold;    
    span {        
        color: #B0B0B0;        
    }
    h2 {
        color: #F4F4F4;
    }
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            background: #C4C4C4;
        }
    }
}

@media (min-width: 960px) {
    .ct-index__team {        
        span {
            font-size: vw(30);
            border-bottom: vw(2) solid #B0B0B0;
            margin: auto;
            padding-top: vw(100);
            width: vw(260);
            display: block;
            position: relative;            
            line-height: normal;
        }
        h2 {
            font-size: vw(85);
            line-height: normal;
            padding-bottom: vw(50);
        }
        ul {
            padding:0 vw(221);
            li {
                height: vw(315);
                width: vw(315);                
                margin-bottom: vw(80);
            }
        }
    }    
}