.ct-contacts {
    text-align: center;
    line-height: normal;
    .article {
        display: flex; justify-content: center;
            align-items: center;
    }
    .ct-pages-content__wrap {
        text-align: center;
        background: url('~@/assets/images/body.jpg');
        padding-top: vw(100);
        h2 {
            font-family: Spectral-bold;
            color: #4C4C4C;
        }
        p {
            font-family: NewCycle;
            color: #4C4C4C;
        }
        p.input-text {
            font-family: Spectral-regular;
        }        
        input {
            color: #B0B0B0 ;
            font-family: NewCycle;
            line-height: normal;
            &::placeholder {
                color: #B0B0B0 ;
            }
        }
        button {
            color: #4C4C4C;            
            background: #FFFFFF;
            font-family: Spectral-regular;
            cursor: pointer;
        }
    }   
}

.ct-contacts .map {
    background: url('~@/assets/images/contacts/map.png') no-repeat;
    @include coverCenter;
}

@media (min-width: 960px) {
    .ct-contacts {
        .article {
            @include size(100%, 100%);            
        }
        svg {            
            @include size(vw(358), vw(409));            
        }    
        .ct-pages-content__wrap {
            box-shadow: 0 vw(4) vw(19) rgba(0, 0, 0, 0.25);
            h2 {
                font-size: vw(50);
            }
            h2.primary {
                padding-bottom: vw(50);
                position: relative;
                &::before {
                    @include before();
                    bottom: 0; left: 0; right: 0;
                    height: vw(1);
                    width: vw(1416);                
                    background:#CACACA;;
                }
            }
            h2.secondary {
                padding-top: vw(90);
            }
            p {
                font-size: vw(25);
            }
            p.primary {
                padding: vw(80) vw(166);
            } 
            .map {
                @include size(vw(594), 100%)
            } 
            p.secondary {
                position: relative;
                padding-bottom: vw(30);
                margin-bottom: vw(21);
                &::before {
                    @include before();
                    bottom: 0;left: 0;right: 0;
                    height: vw(3);
                    width: vw(709);
                    background: #FFB800;                    
                }
            }   
            input {
                text-align: center;
                font-size: vw(25);
                padding: vw(10) 0;
                width: vw(478);
                border: vw(1) solid #999999;
                box-shadow: 0 vw(4) vw(4) rgba(0, 0, 0, 0.25);                
            }  
            .input-text-secondary {
               margin-top: vw(39); 
            }
            button {        
                margin: vw(60) 0 vw(40);         
                padding: vw(15) vw(28);
                font-size: vw(25);
                border: vw(1) solid #999999;            
                box-shadow: 0 vw(4) vw(4) rgba(0, 0, 0, 0.25);
            }              
        }
    } 
}