
// Проверка если есть поддержка браузером запускается webp или jpg изображение
.webp .ct-welcome {
    background: url('./assets/images/welcome.webp') no-repeat;
    @include coverCenter();
}
.no-webp .ct-welcome {
    background: url('./assets/images/welcome.jpg') no-repeat;
    @include coverCenter();
}

.ct-index {
// Стили для welcome блока
    .ct-welcome {                
        position: relative;       
    
     } 
     #svg-item {
        position: relative;    
        z-index: 10;          
        overflow: visible;          
    }   
    .ct-welcome__description {
         position: relative;
         z-index: 10;
         width: 100%;          
         color: #fff;     
         display: flex;
         align-items: center;
         flex-direction: column;
         font-family: Spectral-regular;     
         text-align: center;          
         transform: translateY(5vw);
         line-height: normal;               
    }
    .logo-svg-parent {
        width: 100%;
        display: flex;
        justify-content: center;    
     }     
}

@media (min-width: 960px) {    
    .ct-index {
        .ct-welcome__description {
            font-size: w(20);
            margin-top: w(38.45);        
            h2 {            
                white-space: pre;            
                text-align: center;
             }        
        }
        #svg-item  {
            @include size(w(268.55), w(306.8));
        }
    }
}

@media (max-width: 960px) {
    .ct-index {
   
    }
}