
// Проверка если есть поддержка браузером запускается webp или jpg изображение
.webp .ct-welcome {
    background: url('./assets/images/index-bg.jpg') no-repeat;
    @include coverCenter();
}
.no-webp .ct-welcome {
    background: url('./assets/images/index-bg.jpg') no-repeat;
    @include coverCenter();
}


// Стили для welcome блока
    .ct-welcome {                
        position: relative;       
        &__description {
            position: relative;            
            width: 100%;          
            color: #fff;     
            @include flex-all-center-column();       
            transform: translateY(5vw);
            line-height: normal;           
            h2 {
                font-family: Beausans;
            }    
        }
        &__logo {
            position: relative;                        
            overflow: visible;          
        }        
        &__headphone {
            position: relative;
            color: #fff;
        }
        &__hidden {
            position: absolute; bottom: 0; left: 0;            
            overflow: hidden;
            @include size(40em, 30em);            
            
            &__option {                
                --deg: 50deg;      
                --widthOption: 50%;                
                overflow: hidden; 
                position: absolute;
                bottom: 0; left: 0;                                 
                transform: skewX(var(--deg));             
                transform-origin: 0 100%;     
                height: 100%;         
                width: var(--widthOption);
                display: flex; align-items: flex-end; 
                transition: 0.3s ease-in-out;
                &:hover {                      
                      height: 100%;
                      --widthOption: 100%;              
                }
                img {     
                    position: relative;    
                    transition: 0.3s ease-in-out;                
                    object-fit: cover;               
                    @include size(400px,--widthOption);                                                            
                    transform: skewX(calc(var(--deg) * -1));
                    transform-origin: inherit;
                }
            }
        }
     } 

@media (min-width: 960px) {    
    .ct-welcome {
        &__description {            
            margin-top: h(64);             
            h2 {                                      
                text-align: center;                    
                font-size: h(30);
                text-shadow: 0 h(4) h(4) rgba(0, 0, 0, 0.25);
             }        
        }
        &__logo  {
            @include size(h(306), h(350));
        }
        &__headphone {
            text-align: center;
            font-size: h(20);
            margin-top: h(128);
            svg { @include size(h(83), h(100)) }
        }
        &__copyright {
            font-size: h(15);
            width: 100%;
            color: rgba(255,255,255,0.3);
            text-align: center;
            position: absolute; bottom: h(20); left: 0; 
        }
    }
}

@media (max-width: 960px) {
    .ct-index {
   
    }
}