.ct-partners {
    background: url('~@/assets/images/services/primary-bg.jpg') no-repeat;
    @include coverCenter;
    h2, &__partners {
        position: relative;        
    }
    h2 {
        text-transform: uppercase;
    }
}


@media (min-width: 960px) {
    .ct-partners {
        @include flex-all-center();
      h2 {
          font-size: vw(40);
          margin-bottom: vh(82);
      }
      &__partners {
          &__item {
              @include size(vh(160), vw(1022));
              background: url('~@/assets/images/secondary-article.png') no-repeat;
              @include coverCenter;
              padding: 0 vw(58);
              display: flex; align-items: center; justify-content: space-between;
              img {
                  max-width: vw(279);
              }
          }
      }
    }    
}



@media (max-width:960px) {
    .ct-partners  {       
     
    }
}